<% content_for :co_header do %>
  <div class="row co-header">
    <div class="col-md-3">
      <div>Edit Purchased Item</div>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-3">
    </div>
  </div>
<% end %>
<%= render "form" %>
