<% content_for :co_header do %>
  <div class="row co-header">
    <div class="col-md-3">
      <div><%= @co_header%></div>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-3">
    </div>
</div>
<% end %>
<div id="content" class="app-content box-shadow-0" role="main">
  <div class="content-main " id="content-main">
    <%= render 'form' %>
  </div>
</div>
