<div class="row co-header">
  <div class="col-md-3">
    <div>Edit Vendor</div>
  </div>
  <div class="col-md-6"></div>
  <div class="col-md-3">
    <div><%= @co_header_new%></div>
  </div>
</div>

<%= render 'form'%>
