<br><br><br>
<div class="row">
  <div class="col-md-12">
    <center><strong>Purchased Item Report</strong></center>
    <div><strong>Print Date: <%= Date.today.strftime("%d-%m-%Y")%></strong></div>
  </div>
</div>
<br><br>
